


::-webkit-scrollbar {
  width: 13px;
}



::-webkit-scrollbar-track {
  background: #FFFFFF;
  box-shadow: inset 1px 1px 2px #E0E0E0;
  border: 1px solid #D8D8D8;
}

::-webkit-scrollbar-thumb {
  background: #646464;
  box-shadow: inset 1px 1px 2px rgba(155, 155, 155, 0.4);
}

::-webkit-scrollbar-thumb:hover {
  background: #aaaaaa;
}

::-webkit-scrollbar-thumb:active {
  background: #888;
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.3);
}

.splideIMG{
  height: 100% !important;
}
.section {
  position: relative;
  display: block;
  width: 100%;
  height: 500px;
  height: 100vh;
  overflow: hidden;
  /* color: #BBB; */
}

.cover:nth-child(3n+1){
  background-color: #BBB;
}
.cover:nth-child(3n+2){
  background-color: rgb(124, 124, 124);
}
.cover:nth-child(3n+3){
  background-color: rgb(85, 85, 85);
}
.section h1, .section h2, .section p {
  color: #FFF;
}

.section .cover {
  background-color: rgb(85, 85, 85);
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.section .cover img {
  position: absolute;
  display: block;
  min-width: 100%;
  min-height: 100%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.section .cont {
  position: absolute;
  display: block;
  background: rgba(0, 0, 0, 0.45);
  /* background:; */
  width: 100%;
  height: 100%;
  z-index: 2;
}

.centralize {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translateZ(0px) translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}


.box {
padding-top:15%;
padding-left: 10%;

}

.articlediv{
  display: flex;
  justify-content: center;
  align-items: center;
}


.rotate {
  animation: rotation 3s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}




#con{
display: flex;
position:relative;
height: 65px;

}
#con1{
  z-index:-1;
  flex:1;
  position:absolute;
flex:1;

}

#con1 img{
  width:110px;
  height:110px;
}

#con2{
  flex:1;
  position:absolute;
  padding:19px 0px 0px 20px;
  /* left: -179px; */
  /* left: -14vw; */
  z-index: 1;
}

#con2 img{
  width:70px;
  height:70px;
}

#con3{
  flex:1;
  position:absolute;
  padding:21px 0px 0px 69px;
  /* left: -332px; */
  /* left: -25.5vw; */
  z-index: -2;
}

#con3 img{
  height:70px;
  width:220px;
}










.navbar {
  transition: all 0.4s;
  width:100%;

}


.navbar .nav-link, .navbar .navbar-brand {
  color: #fff;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
  color: rgb(19, 9, 56);;
  text-decoration: none;
}
.nav{
  padding-top: 3%;
}




/* Change navbar styling on small viewports */
@media (max-width: 991.98px) {
  .nav{
    padding-top: 8%;
  }
}

/* .text-small {
  font-size: 0.9rem !important;
} */










.social_footer_ul { display:table; margin:15px auto 0 auto; list-style-type:none; padding-left: 0 !important; }
.social_footer_ul li { padding-left:20px; padding-top:10px; float:left; }
.social_footer_ul li a { color:#CCC; border:1px solid #CCC; padding:8px;border-radius:50%;}
.social_footer_ul li i {  width:20px; height:20px; text-align:center;}

footer{
width: 100%;
position: absolute;
left: 50%;
top: 70%;
-webkit-transform: translateZ(0px) translateX(-50%) translateY(-50%);
transform: translateX(-50%) translateY(-50%);
}

.centerdiv{
  width: 100%;
  margin:auto;
}

.p-splide__text{
color:#FFF;
}

.splide{
margin-top:1%;
width: 80% !important;
}

.splide__slide{
background: rgba(31, 31, 31, 0.7) !important;
padding:1em;
border-radius: 30px;
}

.splide__slide .splide__slide__container{
margin-bottom: 1em;
box-shadow: 7px 7px 15px rgba(0, 0, 0, 2);
}

.neumorphic-btn {
font-size: 20px !important;
border: none !important;
padding: 10px 40px !important;
border-radius: 40px !important;
color: #6D7587 !important;
/*box-shadow: 3px 4px 6px 1px rgba(0, 0, 0, 0.3), 
            -2px -2px 4px 2px rgba(255, 255, 255, 1), 
            inset -14px -14px 20px -10px rgba(0, 0, 0, 0.1),
            inset 14px 14px 20px -10px rgba(255, 255, 255, 0.5) !important;  */
box-shadow: 7px 7px 15px rgba(0, 0, 0, 2),
            -7px -7px 20px rgba(0, 0, 0, 0.7),
            inset 0px 0px 4px gray,
            inset 7px 7px 15px rgba(55, 84, 170, 0),
            inset -7px -7px 20px rgba(255, 255, 255, 0),
            0px 0px 4px white !important;
transition: all 0.5s ease-in-out !important;
}

.neumorphic-btn:hover {  
color: rgb(5, 162, 235);;
box-shadow: 7px 7px 15px rgba(0, 0, 0, 2),
-7px -7px 20px rgba(55, 84, 170, .15),
inset 0px 0px 4px gray,
inset 7px 7px 15px rgba(55, 84, 170, 0),
inset -7px -7px 20px rgba(255, 255, 255, 0),
0px 0px 4px white !important;
}

.pulse {  
color: rgb(5, 162, 235);
box-shadow: 7px 7px 15px rgba(0, 0, 0, 2),
-7px -7px 20px rgba(55, 84, 170, .15),
inset 0px 0px 4px gray,
inset 7px 7px 15px rgba(55, 84, 170, 0),
inset -7px -7px 20px rgba(255, 255, 255, 0),
0px 0px 4px white !important;
}

.neumorphic-btn:active {  
color: #fff;
box-shadow: 7px 7px 15px rgba(55, 84, 170, .15),
            -7px -7px 20px rgba(255, 255, 255, 1),
            inset 0px 0px 4px rgba(255, 255, 255, 0),
            inset 7px 7px 15px rgba(55, 84, 170, .15),
            inset -7px -7px 20px rgba(0, 0, 0, 0.2),
            0px 0px 4px rgba(255, 255, 255, .2) !important;
}

@media screen and (max-width:900px){
.splide{
  width: 50%;
}
}


@media screen and (max-width:767px){
/* .pricingTable{
   margin: 0 0 30px 0;
} */
.table tr > *{
    display: block;
}
.table tr {
    display: table-cell;
}
footer{
  top: 60%;
}

.display-2{
  font-size: 4rem;
}
.display-4{
  font-size: 2rem;
}
.splide{
  width: 70%;
}

/* #con2{
  left: -110.5px;
}
#con3{
  left: -192px;
} */
}
/* @media screen and (max-width:700px){
#con2{
  left: 10px;
}
#con3{
  left: -192px;
}
} */
@media screen and (max-width:641px){
.splide{
  width: 100% !important;
  border-radius: unset !important;
}

.display-2{
  font-size: 3rem;
}
.articlediv{
  justify-content: unset;
}
.splide__slide{
  border-radius: unset !important;
  background: unset !important;
}
  #con{
    display: flex;
  position:relative;
    height: 200px;
    width: 400px;
  
  }
  #con1{
    z-index:-1;
    flex:1;
    position:absolute;
  flex:1;
  }  
#con2{
  flex:1;
  position:absolute;
  padding:15px 0px 0px 10px !important;
  /* left: -179px; */
  /* left: -14vw; */
  z-index: 1;
}

#con3{
  flex:1;
  position:absolute;
  padding:21px 0px 0px 200px;
  /* left: -332px; */
  /* left: -25.5vw; */
  z-index: -2;
}

}


@media screen and (max-width:640px){
#con{
  display: flex;
position:relative;
}
#con1{
  z-index:-1;
  flex:1;
  position:absolute;
flex:1;
}  
#con2{
flex:1;
position:absolute;
padding:20px 0px 0px 20px !important;
/* left: -179px; */
/* left: -14vw; */
z-index: 1;
}

#con3{
flex:1;
position:absolute;
padding:25px 0px 0px 75px;
/* left: -332px; */
/* left: -25.5vw; */
z-index: -2;
}
}

@media screen and (max-width:400px){
#con{
  display: flex;
position:relative;
width: fit-content;
}
#con1{
  z-index:-1;
  flex:1;
  position:absolute;
flex:1;

}  

.display-2{
  font-size: 2.5rem;
}
.display-4{
  font-size: 1.5rem;
}
#con2{
flex:1;
position:absolute;
padding:20px 0px 0px 20px !important;
/* left: -179px; */
/* left: -14vw; */
z-index: 1;
}

#con3{
flex:1;
position:absolute;
padding:20px 0px 0px 45px;
/* left: -332px; */
/* left: -25.5vw; */
z-index: -2;
}
#con1 img{
width:70px;
height:70px;
}

#con2 img{
width:30px;
height:30px;
}


#con3 img{
height:40px;
width:150px;
}

}