.product_list_view_more{
    list-style-type: none;
}
.product_list_view_more li{
    display: inline-block !important;
    height: 50%;
}
.products{
    border: solid 0.5px #e4eef9ce;
    border-radius: 3%;
    /* box-shadow: 5px 5px 5px rgb(211, 210, 210) ; */
    width: 20% !important;
    padding: 1%;
    margin: 0.5em;
   height: auto!important;
}
.product_image{
    width: 70% !important;
    height: 50% !important;
    border-radius: 3%;
    margin: 1em 0 1em 0;
    
}
.img_products{
    max-width: 100% !important;
    max-height: 100% !important;
}
.product_name{
    text-align: center !important;
    /* padding: 5%; */
    font-size: 20px;
    height: 5% !important;
}



.product_list_price{
    text-align: left !important;
    padding: 3%;
    margin: 1em 0 0 0.5em;
    height:5% !important;
}
.product_list_description{
    height: 30% !important;
}